*{
  transition: all 0.1s ease-in-out;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.counterInput{
  padding: 0.5%;
  font-size:xx-large;
  box-sizing: border-box;
  margin: 0 2% 0%;
  border-radius: 10px;
  border: none;
}

.counterInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counterInput:hover,.counterInput:focus{
  background-color: #282c34;
  color: #fff;
  outline: 4px solid white;
}

.appButton{
  padding: 0.5%;
  font-size:xx-large;
  width: 4%;
  border-radius: 10px;
  border: none;
}

.appButton:hover{
  outline: 4px solid #fff;
  background-color: #282c34;
  color: #fff;
  cursor: pointer;
}

.appHeading{
  text-align: center;
  color: #fff;
  margin: 0 2%;
}

.appHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2%;
}

.appMain{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
